body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


p{
    text-align: center;

}

.LoginTitle{
    text-align: center;
}

Button{
     align-self: center;
     margin:0 auto;
 }
.LoginForm{
    align-content: center;
    padding: 20px;
}

.LoginForm .btn{
    float: right;

}
